<html>
    <head>
        <title>Halil ÖZMEN</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Halil Özmen'in bloğu</a></h1>
        </div>
        <div>
            <p>published: 19.05.2020, 17:16</p>
            <h2><a href="">İlk Blogum</a></h2>
            <p>Merhaba bu yazı benim ilk yazım. Bu sitede sizlere elimden geldiğince sahip olduğum bilgileri aktarmaya çalışacağım. Ayrıca ilgi duyduğunuz konularda birlikte tartışarak kendimizi daha da geliştirme fırsatı bulabiliriz.. </p>
        </div>

        <div>
            <p>published: 19.05.2020, 17:16</p>
            <h2><a href="">Bu sitenin amacı</a></h2>
            <p>Merhaba, bu yazımızda sizlere internet sitemizin amacını açıklayacağım. Siteyi insanlara fayda sağlayabilmek amacıyla oluşturduk.</p>
        </div>
    </body>
</html>
